.App{
    background-image: url("./img/weatherbackground.jpg");
    background-size: cover;
    height: 100vh;
}
.next__day{
    display: flex;
    justify-content: space-around;
}

.day{
    border-radius: 20px;
    box-shadow: 5px 5px 20px;
    padding: 0 4%;
    text-align: center;
}

.day__title{
    text-transform: capitalize;
}

.day__descrip{
    text-transform: capitalize;
}


.current_day{
    width: 60%;
    margin: 1.5% auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    padding: 2%;
    box-shadow: 5px 5px 20px;
}

.current__logo{
    width: 40%;
}

.current__info{
    width: 60%;
    text-align: left;
}

.logo{
    width: 100px;
    height: 100px;
}

.form__input{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1%;
}

.form__btn{
    padding: 2.5px;
}